@import "tailwindcss";
@import "./../styles/branding.css";
@import "./../styles/animations.css";
@import "./../styles/modals.css";
@import "./../styles/text.css";
@import "./../styles/btns.css";
@import "./../styles/inputs.css";


/* GLOBAL SETTINGS BEFORE PAGE IS EVEN LOADED */
body {
    @apply bg-background;
}